<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
<iron-ajax id="getchatXhr" auto
url="src/chat.json"        
handle-as="json"
on-response="getChatData"
debounce-duration="300"></iron-ajax>

<iron-request id="sendMessageRequest"
url="http://localhost:8080/postMessage"
handel-as="json"></iron-request>
    <div class="card">
      <!-- <div class="circle">Chat window</div> -->
      <h1>Chat Room: Welcome to [[selectedUser]]</h1>
      <template is="dom-repeat" items="{{listdata}}"  is="dom-if" if="{{condition}}" >
       
            <div style="float: left;width: 100%"  >
                <div style="float: left;width: 80%"><label>[[item.user]]</label>: 
                  <label>[[item.message]]</label></div>
                <div style="float: right;width: 20%">[[item.time]]</div>
              </div>
        
       <div style="clear: both;"></div>
      
        
      </template>
      <div style="margin-top: 40px;">
        <div style="width: 80%;float: left;"> <paper-input id="txtsendmessgae" ></paper-input></div>
        <div style="width: 10%;float: left;"> <paper-button raised on-click="sendMessage">Send</paper-button></div>
        <div style="clear: both;"></div>
      </div>
    </div>
   
  </template>

  <script>
   
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      
      static get properties(){
        return{
           listdata:{
             type:Object,
             value:{}
           }
        }
      }
      getChatData(e){ 
        this.listdata=e.detail.__data.response;
        this.useItem=JSON.parse(localStorage.getItem("userItems"));
        this.selectedUserID= localStorage.getItem("selectedchatroom");
        this.selectedUser=this.useItem[this.selectedUserID].categoryName;      
      }
      sendMessage(e){
        debugger;
        this.message=this.$.txtsendmessgae.value;
        
        this.$.txtsendmessgae.value="";
        let t=this.listdata;
        debugger;
        t[t.length]={"user": "Bob", "message": this.message,"time":"12-09-2018:20.18"};
        this.listdata=JSON.parse(JSON.stringify(t));
        // let request=this.$.sendMessageRequest({
        //   params:'{}'
        // })
        // request.completes.then(function(){
        //   this.$.getchatXhr.generateRequest();
        // },function(rejected){alert("you cannot sendmessage")});
       
      }
  
      ready(){
        super.ready();
        this.useItem=JSON.parse(localStorage.getItem("userItems"));
        this.selectedUserID= localStorage.getItem("selectedchatroom");
        this.selectedUser=this.useItem[this.selectedUserID].categoryName;  
        this.categoryId= this.useItem[this.selectedUserID].categoryID;
     
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
