<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="select-box-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
        <select id="sel-user-grouop" class="form-control">
              <option selected="selected"> Select your user group</option>
               <option selected="selected"> User 1</option> 
               <option selected="selected"> User 2</option> 
               <option selected="selected"> Select your user group</option> 
               <option selected="selected"> Select your user group</option>
          </select>
    </div>
  </template>

  <script>
    class SelectBoxUser extends Polymer.Element {
      static get is() { return 'select-box-user'; }
    }

    window.customElements.define(SelectBoxUser.is, SelectBoxUser);
  </script>
</dom-module>
